body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
    border: 2px solid hsl(0, 0%, 0%);margin: bottom 5px;
  }

  h1{
      text-align: center;
      
  }

  nav{
    text-align: center;
    
  
  }
  a{
    padding:20px;
  }